# Telegram Bot Token
TELEGRAM_TOKEN=YOUR_TELEGRAM_TOKEN

# Database URL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=studentbot
DATABASE_URL=postgresql://user:password@db:5432/studentbot

# Redis URL
REDIS_URL=redis://redis:6379

# Admin Chat ID
ADMIN_CHAT_ID=YOUR_ADMIN_CHAT_ID

# Google Credentials - Path to the credentials file inside the container
GOOGLE_CREDS=/usr/src/app/credentials.json

# Webhook settings (if used)
BASE_URL=https://your-domain.com
WEBHOOK_SECRET=a-long-random-string
PORT=8080

# Other
QUESTIONS_SHEET_NAME=StudentBotQuestions
OPENWEATHERMAP_API_KEY=YOUR_OPENWEATHERMAP_API_KEY
